<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointment</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>

<body>
<div class="container-fluid ">
    <form th:action="@{'/appointment/' + ${idFacebook} + '/add' }" method="post" th:object="${appointment}">
        <div class="md-form mx-5 my-5">
            <label for="inputMDEx1">Choose your time</label>
            <input type="datetime-local" id="inputMDEx1" class="form-control" th:field="*{scheduled_time}"/>
        </div>
        <input type="submit" class="btn btn-primary" value="Send time"/>
    </form>
</div>
</body>
</html>